numpy==2.3.3
scipy==1.16.2
astropy==7.1.0
pillow==11.3.0
scikit-learn==1.7.2
scikit-image==0.25.2
matplotlib==3.10.6
astroquery==0.4.11
pyyaml==6.0.3
joblib==1.5.2
regions==0.10
setuptools==80.9.0
pytest==8.4.2
tqdm==4.67.1
